            </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-link"></i> 
                  <span>Usuarios</span> 
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                  <a href="<%=admin_users_path%>"><i class="fa fa-circle-o"></i> Ver Usuarios</a>
                  </li>
                  <li>
                  <a href="<%=new_admin_user_path%>"><i class="fa fa-circle-o"></i> Agregar Usuario</a>
                  </li>
                </ul>
              </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-link"></i> 
                <span>Comercios</span> 
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                <a href="<%=admin_commerces_path%>"><i class="fa fa-circle-o"></i> Ver Comercios</a>
                </li>
                <li>
                <a href="<%=new_admin_commerce_path%>"><i class="fa fa-circle-o"></i> Agregar Comercio</a>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-link"></i> 
                <span>Tiendas</span> 
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                <a href="<%=admin_stores_path%>"><i class="fa fa-circle-o"></i> Ver Tiendas</a>
                </li>
                <li>
                <a href="<%=new_admin_store_path%>"><i class="fa fa-circle-o"></i> Agregar Tienda</a>
                </li>
              </ul>
            </li>

