           
            <li class="treeview">
              <a href="#">
                <i class="fa fa-building"></i> 
                <span>Mis Comercios</span> 
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                
               
                <%if current_user.commerces.count>0%>
                  <li>
                    <a href="<%=owner_commerces_path%>"><i class="fa fa-search-plus"></i> Ver Todos</a>
                  </li>   
                  <%current_user.commerces.each do |commerce|%>
                    <li class="treeview">
                      <a href="#">
                        <i class="fa fa-building-o"></i> 
                        <span><%=commerce.name%></span> 
                        <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                        <li>
                          <a href="<%=owner_commerce_path(commerce)%>"><i class="fa  fa-search-plus"></i> Ver Comercio</a>
                        </li> 
                        <li class="treeview">
                          <a href="#">
                            <i class="fa fa-cart-arrow-down"></i> 
                            <span>Tiendas</span> 
                            <i class="fa fa-angle-left pull-right"></i>
                          </a>
                          <ul class="treeview-menu">
                            <%if commerce.stores.count>0%>
                              <li>
                                <a href="<%=owner_commerce_stores_path(commerce)%>"><i class="fa fa-search-plus"></i> Ver Todas</a>
                              </li> 
                              <%commerce.stores.each do |store|%>
                                <li class="treeview">
                                  <a href="#">
                                    <i class="glyphicon glyphicon-shopping-cart"></i> 
                                    <span><%=store.name%></span> 
                                    <i class="fa fa-angle-left pull-right"></i>
                                  </a>
                                  <ul class="treeview-menu">
                                    <li>
                                      <a href="<%=owner_commerce_store_path(commerce,store)%>"><i class="fa  fa-search-plus"></i> Ver Tienda</a>
                                    </li>
                                    <li>
                                      <a href="<%=owner_commerce_store_promotions_path(commerce,store)%>"><i class="glyphicon fa fa-star-o"></i> Ver Promociones</a>
                                    </li>
                                  </ul>
                                </li>
                              <%end%> 
                            <%end%>
                            <li>
                              <a href="<%=new_owner_commerce_store_path(commerce)%>"><i class="fa fa-plus-square"></i> Agregar Tienda</a>
                            </li>  
                          </ul>
                        </li>                        
                       
                      </ul>
                    </li>

                  <%end%>   
                <%end%>
                <li>
                  <a href="<%=new_owner_commerce_path%>"><i class="fa fa-plus-square"></i> Agregar Comercio</a>
                </li>
              </ul>
            </li>


