<%= form_for(@beacon,url: (@beacon.new_record? ? admin_beacons_url : admin_beacon_url),:html => {:class => "form-with-img form-no-submit"}) do |f| %>
  <script type="text/javascript">
   var errorsArray=[] ;
  <% @beacon.errors.each do |atributo, mensaje| %>
      errorsArray.push({atributo:"<%="#{atributo}"%>",mensaje:"<%="#{mensaje}"%>"});
  <% end %>
  $( document ).ready(function() {
    validarErrores(errorsArray);
  });
</script>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Datos del Beacon</h3>
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="field">
            <%=f.label :photo, "Imagen del beacon"%><br>
            <%= image_tag @beacon.picture, id: "containerImage", class: "img-upload"%><br>
            <button type="button" style="margin-top:5px;" class="btn btn-default"  onclick="$('#file').click();">
              <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-right:5px;" ></span>
              Cargar Imagen &nbsp;
            </button>
          </div>
          <script>
            var loadFile = function(event) {
              var reader = new FileReader();
              reader.onload = function(){
                var output = document.getElementById('containerImage');
                output.src = reader.result;
              };
              reader.readAsDataURL(event.target.files[0]);
            };

          </script>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :name, "Nombre" %>*<br>
              <%= f.text_field :name,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :uuid, "UUID" %>*<br>
              <%= f.text_field :uuid,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :major, "Major" %>*<br>
              <%= f.text_field :major ,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <%= f.label :minor, "Minor" %>*<br>
              <%= f.text_field :minor ,class:"form-control" %>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :store_id, "Tienda asociada" %>*<br>
            <%= f.select :store_id, options_for_select(Store.all.pluck(:name,:id),( @beacon.store ? @beacon.store_id : "" )),{},{class:"form-control select2"}%>
          </div>
        </div>
      </div>      

    </div><!-- /.box-body -->
  </div><!-- /.box -->
  
    <div class="box-footer">
      <button type="button" style="margin-top:5px;" class="visible-xs btn btn-block btn-primary btn-lg" aria-label="Left Align" onclick="submitForm('beacon');"><%= (@beacon.new_record? ? "Crear Beacon" : "Actualizar Beacon")%></button>
    <button type="button" style="margin-top:5px;" class="hidden-xs btn btn-primary" aria-label="Left Align" onclick="submitForm('beacon');"><%= (@beacon.new_record? ? "Crear Beacon" : "Actualizar Beacon")%></button>
    </div>
<% end %>

<div class="hidden">
  <form id = "file-img" method="POST" action="http://uploads.im/api?upload" enctype="multipart/form-data">
    <input type="file" id="file" name="file" onchange= "loadFile(event)" />
    <input type="submit" value="SEND FILE">
  </form>
</div>